*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'poppins';
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);

}
.card{
    background-color: #fff;
    padding: 1.5rem 1.75rem;
    cursor: pointer;
    max-width: 300px;

    @media (min-width:480px) {
        max-width: 480px;
        padding: 2rem 2.5rem;
    }
}